BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/project.assets.json
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/Debug/netcoreapp2.0/BreedBrawlSampleLogic.pdb
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/Debug/netcoreapp2.0/BreedBrawlSampleLogic.dll
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/Debug/netcoreapp2.0/BreedBrawlSampleLogic.csprojResolveAssemblyReference.cache
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/Debug/netcoreapp2.0/BreedBrawlSampleLogic.csproj.FileListAbsolute.txt
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/Debug/netcoreapp2.0/BreedBrawlSampleLogic.csproj.CoreCompileInputs.cache
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/Debug/netcoreapp2.0/BreedBrawlSampleLogic.assets.cache
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/Debug/netcoreapp2.0/BreedBrawlSampleLogic.AssemblyInfoInputs.cache
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/Debug/netcoreapp2.0/BreedBrawlSampleLogic.AssemblyInfo.cs
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/BreedBrawlSampleLogic.csproj.nuget.g.targets
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/BreedBrawlSampleLogic.csproj.nuget.g.props
BreedBrawlSampleLogic/BreedBrawlSampleLogic/obj/BreedBrawlSampleLogic.csproj.nuget.cache
BreedBrawlSampleLogic/BreedBrawlSampleLogic/bin/Debug/netcoreapp2.0/BreedBrawlSampleLogic.runtimeconfig.json
BreedBrawlSampleLogic/BreedBrawlSampleLogic/bin/Debug/netcoreapp2.0/BreedBrawlSampleLogic.runtimeconfig.dev.json
BreedBrawlSampleLogic/BreedBrawlSampleLogic/bin/Debug/netcoreapp2.0/BreedBrawlSampleLogic.pdb
BreedBrawlSampleLogic/BreedBrawlSampleLogic/bin/Debug/netcoreapp2.0/BreedBrawlSampleLogic.dll
BreedBrawlSampleLogic/BreedBrawlSampleLogic/bin/Debug/netcoreapp2.0/BreedBrawlSampleLogic.deps.json
BreedBrawlSampleLogic/.vs/BreedBrawlSampleLogic/v15/Server/sqlite3/storage.ide-wal
BreedBrawlSampleLogic/.vs/BreedBrawlSampleLogic/v15/Server/sqlite3/storage.ide-shm
BreedBrawlSampleLogic/.vs/BreedBrawlSampleLogic/v15/Server/sqlite3/storage.ide
BreedBrawlSampleLogic/.vs/BreedBrawlSampleLogic/v15/Server/sqlite3/db.lock
