<div ng-controller="HeroesMainCtrl">
    <div class="container metro content">
        <div class="row gPlayer rowMargin center-cropped " style="background-image: url('/css/images/demonhunter-bloodelf-female.jpg');">
            <div class="row rowMargin">
                <hero-stats stats="hero"></hero-stats>
                <!-- <div class="wrapperSlider">
                     <input id="slider" class="balSlider" value="0"/>
                 </div>
                 <div class="col-md-3">
                     <input id="sliderTile" class="balSliderTile" value="0"/>
                 </div>-->
                <div class="row">
                    <label class="col-md-1">Health: <input ng-model="health"/></label>
                    <label class="col-md-1">Mana: <input ng-model="mana"/></label>
                    <label class="col-md-1">Agility: <input ng-model="agility"/></label>
                    <label class="col-md-1">Stamina: <input ng-model="stamina"/></label>
                </div>
                <div class="row">
                    <label class="col-md-1">Critical Strike: <input ng-model="criticalStrike"/></label>
                    <label class="col-md-1">Attack Speed: <input ng-model="attackSpeed"/></label>
                    <label class="col-md-1">Versatility: <input ng-model="versatility"/></label>
                    <label class="col-md-1">Mastery: <input ng-model="mastery"/></label>
                    <button class="col-md-2 button large success" ng-click="generate()">
                        Generate Gen0 Character
                    </button>
                </div>
            </div>
            <div class="row rowMargin">
                <button id="resume" class="col-md-2 button large success" ng-click="battle()">
                    <i class="icon-play"></i>
                    Battle
                </button>
                <button class="col-md-2 button large success" ng-click="getCharacterCount()">
                    Get Character Count
                </button>
                <button class="col-md-2 button large success" ng-click="tokensOfOwner()">
                    Get tokens of owner
                </button>
                <div class="row rowMargin">
                    <div class="col-md-4" id="nextCommand"></div>
                </div>
            </div>
        </div>
        <div class="row rowMargin" id="output">

        </div>
        <div class="row rowMargin">
            <heroes-list heroes="heroes" on-select="selectHero"></heroes-list>
        </div>
    </div>
</div>
