.center-cropped {
    height: 340px;
    background: no-repeat center center;
}

html, body {
    height: 100%; /* This value has to be set */
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#index {
    background: url('./images/forest.jpg') no-repeat center center fixed;
}

#start {
    background: url('./images/bg1.jpg') no-repeat center center fixed;
}

input {
    background-color: black;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.container1 {
    padding-right: 15px;
    padding-left: 15px;
}

h4 {
    margin-top: 25px;
}

.row {
    margin-bottom: 0px;
    background-color: transparent !important;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0px !important;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    /*background-color: #eee;*/
    /*border: 1px solid #ddd;
		  border: 1px solid rgba(86,61,124,.2);*/
}

.noMargin {
    margin: 0px !important;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper {
    left: 50%;
    margin-left: -565px;
    background: transparent;
    border: none;
    padding-bottom: 0px;
}

.container .gPlayer {
    margin-bottom: 0px;
}

.container .textContent {
    text-align: center;
    margin: 5px 20px;
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 28pt;
    letter-spacing: 0.00em;
    line-height: 44pt;
    font-smooth: always;
}

.content {
    background-color: rgba(0, 0, 0, .75);
}

.container .toggle {
}

.rsSlide {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.rsSlide h3 {
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
}

rsSlide span {
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
}

.rsSlide ul li {
    display: inline-block;
    padding: 0px 5px;
    float: left;
    width: 310px;
}

.sliderImages {
    width: 964px;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.rowMargin {
    padding: 0px 35px;
}

.btn-danger:hover {
    border-color: darkred;
    background-color: whitesmoke;
}

/*button:hover{
    border: 3px solid black;
}*/

.wrapperSlider {
    margin: -14px 0px auto 0px;
    background: url('./content/web/slider/eqBack.png') no-repeat 0 0;
    text-align: center;
}

.balSliderTile {
    width: 300px;
    margin-top: -10px;
}

.balSliderTile .k-slider-selection {
    width: 300px !important;
    display: none;
    margin-top: -10px;
}

.balSliderTile .k-slider-horizontal {
    display: inline-block;
    width: 1100px !important;
    height: 26px;
}

.balSlider {
    width: 1100px !important;
}

.balSlider .k-slider-selection {
    width: 1100px !important;
    display: none;
}

.balSlider .k-slider-horizontal {
    display: inline-block;
    width: 1100px !important;
    height: 26px;
}

* + html .eqSlider {
    display: inline;
}

.multilist {
    margin-top: -45px;
    width: 350px;
    min-height: 140px;
    padding: 30px 30px 80px;
    background-color: transparent;
}
